.faqQuestionContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.faqContainer{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
width: 100%;
align-items: center;
    gap: 1rem;
}

.icon{
    height: 30px;
    width: 30px;
    color: white;
}
.faqHeading{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.faqAns{
    width: 60%;
    color: grey;

}
.faqQuestion{
    width: 100%;
    font-size: 20px;
    color: white;
}

.container{
    width: 60%;
    cursor: pointer;
    color: red;
    border-radius: 12px;
    padding: 0.5rem;

}

.container:hover{
    background-color: rgba(128, 128, 128, 0.107);
    width: 60%;
    padding: 0.5rem;
}