.Container{
    display: flex;
    flex-direction: column;
    background-color: rgb(18,23,42);
    padding: 2rem 1rem;
    border-radius: 12px;
    gap: 1rem;
}

.name{
    letter-spacing: 1px;
    color: white;
}
.review{
    letter-spacing: 1px;
    color: grey;
    font-size: 12px;
    width: 80%;
}

